.bcslide-tab-panel .components-tab-panel__tabs-item{
  flex: 1 1 0px !important ;
}

.dashicons, .dashicons-before:before{
  vertical-align: text-top !important ;
}
.components-focal-point-picker{
  border: 1px solid #fff !important ;
}
.drag_modal_background{
  background-color: transparent !important ;
  box-shadow:none !important ;
}
.drag_modal_opacity{
  opacity: 0 !important ;
}
.swiper-overlay{
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 1;
  margin: 0;
  max-width: none;
}
.swiper-caption{
  left: auto;
  right: auto;
  bottom: auto;
  top: auto;
  padding: 0;
  text-align: inherit;
  background:transparent;
  z-index: 2;
  position: absolute;
}
.container-swiper-caption {
  padding: 0;
  top: 0 ;
  left: 50% ;
  transform: translateX(-50%)  ;
  height: 100%;
  z-index: 2;
}

.swiper{
  height: 100%;
}
.swiper-pagination.circle span{
width: 12px;
height: 12px;
border-radius: 100%;
}

.swiper-pagination.square span{
width: 30px;
height: 3px;
border-radius: 0%;
}



.swiper-wrapper,
.swiper-slide{
  height: 100% !important;
}


.swiper-slide  > img {
width: 100% !important;
height: 100% !important;
object-fit: cover !important;
}

.richtext-title a,
.richtext-subtitle a{
  color: inherit !important;
  text-decoration: none;
}
